
/*TABLET*/

@media (min-width: 768px){
  
a{
    padding: 10px;
    color:white;
    text-align: center;

}

.footer--gray{
   display: flex;
   justify-content: center;

}

.nav{
    background-color: #674582; 
    display: flex;
    justify-content: space-between;
}

.container{
   width: 100%;
}

.nav__logo_left{
    
    height: 80px;
    margin-top: 10px;
    
}

.nav__menu_mobile{
    display: none;
}

.nav__menu_right{
    display: flex;
    justify-content: space-between;
    }

.nav__menu_right_links{
    font-size:16px;
    align-items: center;
    display: flex;
     margin: 32px;
}

.nav__menu_right_icons{
    align-items: center;
    display: flex;
   
}

.nav__menu_right_icons > img{
    margin: 0px 5px;
    width: 34px;
    height: auto;
    padding: 3px;
}

}

@media (min-width: 1024){
    .nav__menu_right_icons{
        width: 238px;
        height: auto;
        display: flex;
        justify-content: space-between;
        padding: 34px;
}
}

@media (min-width: 2200){}
