/*GERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

body{
    font-family: 'montserrat', sans-serif;
    font-size: 10px;
}

a{  color:  white;
    text-decoration: none;
}

.container{
    width:90%;
    display: flex;
    justify-content: center;
}

/*NAV MOBILE*/

.nav{
    background-color:#674582;
    display: flex;
    justify-content: space-around;
    height: 55px;
    align-items: center;
}

.nav__logo_left{
    height: 40px;
}

.nav__menu_mobile{
    width: auto;
    height: 45px;
    padding: 10px;
    margin: 0 10px;
 }

.nav__menu_right{
    display: none;
}


/*BANNER*/

.banner{
    background-image: url(../img/bg-banner-claro.png);
    background-size: cover;
    background-position: center;
    height: 300px;
    color: white;
 }


 .title{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
         
 }


 h4{
    font-size: 0.5rem;
 }


 .btn{
    text-transform: uppercase;   
    background-color: #C083B9;
    border-radius: 5px;
    margin: 0;
    width: 124px;
    padding: 9px;
 }

 /*PERFIL DAS MULHERES*/

 .perfils{
     text-align: center;
 }

.perfils h1{
    margin: 0;
    color: #674582;
    font-family:'Roboto', sans-serif;
    font-size: 0.8rem;
    align-items: center;
}

.persona{
   text-align: center;
   text-align: center;
   display: flex;
   flex-flow: nowrap;
}

.persona img{
    background-color: #674582;
    border-radius: 5px;
    width: 100px;
}

.picture{
    margin: 10px;
}


.picture P{
    font-size: 1rem;
    color: black;
}

/*RODAPÉ*/

.footer--gray{
    background-color: #323534;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;

}

.footer__1--3{
    margin: 20px 0 10px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.footer{
    margin: 10px;
}

.footer--logo{
    height: 48px;
    margin: 10px;
}

.logo--fb{
    height: 33px;
    margin: 10px;
}

.footer__3--3{
    display: flex;
    align-items: center;
}

.footer--darkgray{
    background-color: #292A2A;
    color: white; 
    text-align: center;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

/*PÁGINA NINA SIMONE*/

.banner--nina{
    background: url(../img/ninasimone.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    height: 220px;
 }

 .title--simone h1{
    font-size: 1.5rem;
    display: flex;
    align-items: baseline;
    margin-top: 185px;
 }

 .title{
    margin: 18px auto;

 }

 .pic--introdution p{
     color: #674582;
     font-size: 1rem;
 }


/*TEXTO NINA SIMONE*/

.container--all{
   margin: 20px;

}

.nina{
    color: #674582;
}

.nina p{
    font-size: 0.9rem;
    margin: 10px;
}

.title{
    text-align: center;
    font-size: 1rem;
}

.pic__introdution{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.pic--ninasimone{
    height: 195px;
    width: 180px;
 }




 .frase{
    margin: 25px;
    border: 1px solid #674582;
    padding: 10px;
    text-align: center;
 }

/*AUTORA REPROGRAMA*/

.autora{
    background-color: #C083B9;    
    background: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
}

.autora--pic{
    height: 140px;
    
}

.autora--text{
    padding: 10px;
}



/*BOTÃO*/

.btn--footer{
    text-align: center;
    margin: 35px;

}





